.Cell {
    font-size: 0;
}

.Cell:hover {
    stroke: rgba(61, 245, 255, 0.47);
}

.CellDead {
    fill: rgba(75,76,73,0.96);
    stroke: rgba(75,76,73,0.96);
}

.CellAlive {
    fill: #ff1200;
    stroke: #ff1200
}

.CellSelected {
    stroke: #3DF5FF;
}

